body{
    background-image: url('../IMG/gimages/pexels-photo-260922.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
    width:100%;  
    color: whitesmoke;
     
 }
 ul {
     list-style-type: none;
 }
 
 nav {
     height: 60px;
     width: 100%;
    background-color:burlywood;
     position: sticky;
     color: #fff;
 }
 /* This is floating my logo to the left. */
 .logo{
     float: left;
     margin: 15px 15px;
 }
 nav ul{
     list-style-type: none;
     float: right;
    
 }
 nav ul li {
      display: inline-block; 
   position: sticky;
     font-weight: bolder;
     text-transform: uppercase;
     margin:20px 20px;
 }
 .menu-img .img1{
 display: inline-block;
 margin-left: 300px;
 }
 .menu-img .img2{
     display: inline-block;
     margin-left: 450px;
     
     }
 main{ 
 width: 100%;
 height: 500px; 
 
 background-repeat: no-repeat;
 background-size:cover;
 background-position: center;    
 background-attachment:fixed;
 }
 .hero-text{
 color: #fff;
 text-align: center; 
 margin-left: 30%;
 }
 .logo{
     width: 15px;
     height: 15px;
     background-color: rgb(28, 40, 142);
 }
 h1{
 text-align: center;
 margin-left: 500px;
 
 }
 .para1 ,.para2{
    
     margin-top: 20px;
     float: right;
    max-width: 40%;
     color: whitesmoke;
      height:70px;
      padding: 10px; 
      
     } 
      .para1 {
     margin-left: 90px;
     } 
     .para2{
         margin-right: 10px;
     } 
  /* this is the start of a footer */
 
  footer ul { 
 
 background-color: burlywood;
 decoration: none;
 
 bottom: 0;
 display:flex;
 flex-direction: row; 
 margin: 60px;
 padding-left:  20px;
 
 height:60px;
 
  }
  footer ul li { 
 
    width: 25px;
 
     margin: 20px;
     
 
      }
 
  a li{
decoration:none ;
 float: right;
 padding-left:  100px;
  }
 
 
  footer i:hover{
 
 background-color: blanchedalmond;
 color: #000;
 
  }
 
 